@use '../abstracts' as *;

.NoPatch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: var(--theme-workspace-bg, $dark-deep);

  .logo {
    width: 25%;

    circle {
      opacity: 0.15;
      filter: url(#inset-shadow);
    }

    .logo-main {
      fill: var(--theme-selected, $coral);
    }

    .logo-ring {
      fill: none;
      stroke: var(--theme-selected, $coral);
    }
  }
}