@use '../abstracts' as *;

.NoPatch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: var(--theme-workspace-bg, $dark-deep);

  .logo {
    width: 25%;

    circle,
    ellipse,
    path {
      filter: url(#inset-shadow);
    }

    .logo-main {
      fill: var(--theme-selected, $coral);
    }

    .logo-shine {
      fill: $white;
      opacity: 0.4;
    }

    .logo-ring,
    .logo-stroke {
      fill: none;
      stroke: var(--theme-selected, $coral);
    }

    .logo-stroke {
      stroke-width: 3.5px;
      stroke-linecap: round;
    }
  }
}